In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('obesity_rate_final.csv')

In [ ]:
df1

     year  rank          state    rate
0    2021     1  West Virginia  40.60%
1    2021     2       Kentucky  40.30%
2    2021     3        Alabama  39.90%
3    2021     4       Oklahoma  39.40%
4    2021     5    Mississippi  39.10%
..    ...   ...            ...     ...
960  2003    47        Montana  18.80%
961  2003    48   Rhode Island  18.40%
962  2003    49  Massachusetts  16.80%
963  2003    50         Hawaii  16.40%
964  2003    51       Colorado  16.00%

[965 rows x 4 columns]

In [ ]:
df2 = pd.read_csv('RaceDataFinal2010-2021.csv')

In [ ]:
dff = pd.merge(df1,df2, how = 'inner', on = ['year','state'])

In [ ]:
dff

,year,rank,state,rate,White,Black or African American
0,2020,42,Florida,28.40%,71.6,15.9
1,2020,2,West Virginia,39.10%,92.5,3.6
2,2020,6,Kentucky,36.60%,86.2,8.1
3,2020,3,Alabama,39.00%,67.5,26.6
4,2020,9,Oklahoma,36.40%,71.1,7.3
...,...,...,...,...,...,...
555,2010,40,California,24.80%,62.4,6.0
556,2010,48,Massachusetts,22.30%,81.1,6.8
557,2010,51,Colorado,19.80%,83.3,3.9
558,2010,47,Hawaii,23.10%,24.6,1.5
559,2010,50,District of Columbia,21.70%,40.2,51.2

In [ ]:
dff

,year,rank,state,rate,White,Black or African American
0,2020,42,Florida,28.40%,71.6,15.9
1,2020,2,West Virginia,39.10%,92.5,3.6
2,2020,6,Kentucky,36.60%,86.2,8.1
3,2020,3,Alabama,39.00%,67.5,26.6
4,2020,9,Oklahoma,36.40%,71.1,7.3
...,...,...,...,...,...,...
555,2010,40,California,24.80%,62.4,6.0
556,2010,48,Massachusetts,22.30%,81.1,6.8
557,2010,51,Colorado,19.80%,83.3,3.9
558,2010,47,Hawaii,23.10%,24.6,1.5
559,2010,50,District of Columbia,21.70%,40.2,51.2

In [ ]:
df3 = pd.read_csv('median_income.csv')

In [ ]:
dff = pd.merge(dff,df3, how = 'inner', on = ['year','state'])
dff

,year,rank,state,rate,White,Black or African American,Unnamed: 0,median_income
0,2020,42,Florida,28.40%,71.6,15.9,10,"60,460"
1,2020,2,West Virginia,39.10%,92.5,3.6,49,"54,396"
2,2020,6,Kentucky,36.60%,86.2,8.1,18,"59,405"
3,2020,3,Alabama,39.00%,67.5,26.6,1,"57,243"
4,2020,9,Oklahoma,36.40%,71.1,7.3,37,"54,921"
...,...,...,...,...,...,...,...,...
555,2010,40,California,24.80%,62.4,6.0,5,"67,600"
556,2010,48,Massachusetts,22.30%,81.1,6.8,22,"75,882"
557,2010,51,Colorado,19.80%,83.3,3.9,6,"75,009"
558,2010,47,Hawaii,23.10%,24.6,1.5,12,"74,145"
559,2010,50,District of Columbia,21.70%,40.2,51.2,9,"70,893"

In [ ]:
df3 = pd.read_csv('Educated_Percent.csv')

In [ ]:
dff = pd.merge(dff,df3, how = 'inner', on = ['year','state'])
dff

,year,rank,state,rate,White,Black or African American,Unnamed: 0_x,median_income,Unnamed: 0_y,% educated
0,2020,42,Florida,28.40%,71.6,15.9,10,"60,460",9,28.462948
1,2020,2,West Virginia,39.10%,92.5,3.6,49,"54,396",48,19.938580
2,2020,6,Kentucky,36.60%,86.2,8.1,18,"59,405",17,23.130746
3,2020,3,Alabama,39.00%,67.5,26.6,1,"57,243",0,24.034372
4,2020,9,Oklahoma,36.40%,71.1,7.3,37,"54,921",36,23.810112
...,...,...,...,...,...,...,...,...,...,...
555,2010,40,California,24.80%,62.4,6.0,5,"67,600",4,26.962863
556,2010,48,Massachusetts,22.30%,81.1,6.8,22,"75,882",21,35.965004
557,2010,51,Colorado,19.80%,83.3,3.9,6,"75,009",5,33.165271
558,2010,47,Hawaii,23.10%,24.6,1.5,12,"74,145",11,26.651000
559,2010,50,District of Columbia,21.70%,40.2,51.2,9,"70,893",8,46.375621

In [ ]:
df4 = pd.read_csv('adjusted_min_wage.csv')

In [ ]:
dff = pd.merge(dff,df4, how = 'inner', on = ['year','state'])
dff

,year,rank,state,rate,White,Black or African American,Unnamed: 0_x,median_income,Unnamed: 0_y,% educated,wage,CPI,CPI_2021,modified_wage
0,2020,42,Florida,28.40%,71.6,15.9,10,"60,460",9,28.462948,8.56,381.2,399,8.959706
1,2020,2,West Virginia,39.10%,92.5,3.6,49,"54,396",48,19.938580,8.75,381.2,399,9.158578
2,2020,6,Kentucky,36.60%,86.2,8.1,18,"59,405",17,23.130746,7.25,381.2,399,7.588536
3,2020,3,Alabama,39.00%,67.5,26.6,1,"57,243",0,24.034372,7.25,381.2,399,7.588536
4,2020,9,Oklahoma,36.40%,71.1,7.3,37,"54,921",36,23.810112,7.25,381.2,399,7.588536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,2012,41,California,25.00%,62.1,6.0,5,"67,410",4,27.827606,8.00,337.5,399,9.457778
454,2012,49,Massachusetts,22.90%,80.1,7.1,22,"75,256",21,36.084897,8.00,337.5,399,9.457778
455,2012,51,Colorado,20.50%,84.4,4.2,6,"67,688",5,34.008391,7.64,337.5,399,9.032178
456,2012,47,Hawaii,23.60%,24.9,1.8,12,"66,515",11,27.405907,7.25,337.5,399,8.571111
457,2012,50,District of Columbia,21.90%,39.6,49.5,9,"77,135",8,48.409591,8.25,337.5,399,9.753333

In [ ]:
dff.drop('rank', axis = 1, inplace = True)

In [ ]:
dff.drop('Unnamed: 0_x',axis = 1, inplace = True)

In [ ]:
dff.drop('Unnamed: 0_y',axis = 1, inplace = True)

In [ ]:
dff.drop('CPI',axis = 1, inplace = True)

In [ ]:
dff.drop('CPI_2021',axis = 1, inplace = True)

In [ ]:
dff.drop('wage',axis = 1, inplace = True)

In [ ]:
dff

,year,state,rate,White,Black or African American,median_income,% educated,modified_wage
0,2020,Florida,28.4,71.6,15.9,60460.0,28.462948,8.959706
1,2020,West Virginia,39.1,92.5,3.6,54396.0,19.938580,9.158578
2,2020,Kentucky,36.6,86.2,8.1,59405.0,23.130746,7.588536
3,2020,Alabama,39.0,67.5,26.6,57243.0,24.034372,7.588536
4,2020,Oklahoma,36.4,71.1,7.3,54921.0,23.810112,7.588536
...,...,...,...,...,...,...,...,...
453,2012,California,25.0,62.1,6.0,67410.0,27.827606,9.457778
454,2012,Massachusetts,22.9,80.1,7.1,75256.0,36.084897,9.457778
455,2012,Colorado,20.5,84.4,4.2,67688.0,34.008391,9.032178
456,2012,Hawaii,23.6,24.9,1.8,66515.0,27.405907,8.571111
457,2012,District of Columbia,21.9,39.6,49.5,77135.0,48.409591,9.753333

In [ ]:
dff['rate'] = dff['rate'].str.replace('%','').astype('float')

In [ ]:
dff['rate'] = dff['rate'].str.replace('%','').astype('float')

In [ ]:
dff['median_income'] = dff['median_income'].str.replace(',','').astype('float')

In [ ]:
dff.to_csv('Factors.csv')